# 1. Dataset Exploration (EDA)

In [5]:
import pandas as pd

df1 = pd.read_csv("images/images.csv")
df2 = pd.read_csv(
    "styles/styles.csv",
    on_bad_lines="skip"
)

print(df1.head())

    filename                                               link
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...
3  21379.jpg  http://assets.myntassets.com/v1/images/style/p...
4  53759.jpg  http://assets.myntassets.com/v1/images/style/p...

In [6]:
print(df2.head())

      id gender masterCategory subCategory  articleType baseColour  season  \
0  15970    Men        Apparel     Topwear       Shirts  Navy Blue    Fall
1  39386    Men        Apparel  Bottomwear        Jeans       Blue  Summer
2  59263  Women    Accessories     Watches      Watches     Silver  Winter
3  21379    Men        Apparel  Bottomwear  Track Pants      Black    Fall
4  53759    Men        Apparel     Topwear      Tshirts       Grey  Summer

     year   usage                             productDisplayName
0  2011.0  Casual               Turtle Check Men Navy Blue Shirt
1  2012.0  Casual             Peter England Men Party Blue Jeans
2  2016.0  Casual                       Titan Women Silver Watch
3  2011.0  Casual  Manchester United Men Solid Black Track Pants
4  2012.0  Casual                          Puma Men Grey T-shirt

In [7]:
print("Images CSV shape:", df1.shape)
print("Styles CSV shape:", df2.shape)

Images CSV shape: (44446, 2)
Styles CSV shape: (44424, 10)

In [8]:
print(df1.columns)
print(df2.columns)

Index(['filename', 'link'], dtype='object')
Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName'],
      dtype='object')

In [10]:
for col in df1.columns:
    print(col)

filename
link

In [9]:
for col in df2.columns:
    print(col)

id
gender
masterCategory
subCategory
articleType
baseColour
season
year
usage
productDisplayName